.card {
  position: relative;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  
  &:last-child {
    margin-bottom: 0;
  }
  &__image-wrapper {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 10px 10px 0 0;
      // border-radius: 10px 0 0 10px;
    }
  }
  &__details {
    width: 100%;
    background: #000000;
    height: auto;
    padding: 25px 40px;
    // border-radius: 0 10px 10px 0;
    border-radius: 0 0 10px 10px;
    h2 {
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      text-align: left;
      text-transform: uppercase;
      font-weight: 28px;
      text-align: center;
      // font-size: 30px;
      // margin: 30px 0 0 0;
      // padding: 0 0 0 40px;
      letter-spacing: 1px;
      margin: 0;
    }
    ul {
      list-style-type: none;
      padding: 0 0 0 40px;
      margin: 10px 0 0 0;
      padding-inline-start: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        // display: inline;
        color: #e3e3e3;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        // padding: 0 40px 0 0;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__movie-description {
    p {
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      // padding: 0 40px 0 40px;
      letter-spacing: 1px;
      margin: 10px 0;
      line-height: 20px;
    }
  }
  &__button {
    margin: 30px 0;
    a {
      color: #ffda00;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      border: 2px solid #ffda00;
      padding: 10px 10px 10px 40px;
      font-size: 12px;
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: 7% 50%;
      border-radius: 5px;
      transition: all .5s ease-in-out;
      position: relative;
      display: inline-block;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 18px;
        width: 0;
        height: 0;
        border-left: 8px solid #ffda00;;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        transition: border .5s ease-in-out;
      }
      &:hover {
        color: #000000;
        background-color: #ffda00;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: 10% 50%;
      }
      &:hover:before {
        border-left: 10px solid black;
      }
    }
  }
}
div.card:nth-of-type(1) {
  margin: 90px auto 40px auto;
}


@media (min-width: 992px) {
  .card {
    flex-direction: row;
    max-width: 800px;
    align-items: unset;
    &__details, &__image-wrapper {
      width: 50%;
    }
    &__details {
      border-radius:  0 10px 10px 0;
    }
    &__image-wrapper {
      img {
        border-radius: 10px 0 0 10px;
      }
    }
  }
}